/* style.css */

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  #submitButton {
    background-color: #ccc; /* Initial disabled color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  
  #submitButton:enabled:valid { /* Valid and enabled button styles (optional) */
    background-color: #4CAF50; /* Green (can be same as default enabled) */
  }
  
  .error-message {
    color: red;
    font-size: smaller;
    margin-bottom: 5px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  